@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Modificar Contraseña";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container py-4">
    <div class="card shadow-sm">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">
                <i class="bi bi-pencil-fill me-2"></i>@ViewData["Title"]
            </h5>

            <a class="btn btn-sm btn-primary" href="@Model.ReturnUrl"><i class="bi bi-arrow-left"></i> Volver</a>
        </div>

        <div class="card-body">
            <partial name="_StatusMessage" for="StatusMessage" />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" class="form-control" type="password" placeholder="Contraseña actual" />
                    <label asp-for="Input.OldPassword">Contraseña actual</label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.NewPassword" class="form-control" type="password" placeholder="Nueva contraseña" />
                    <label asp-for="Input.NewPassword">Nueva Contraseña</label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="Input.ConfirmPassword" class="form-control" type="password" placeholder="Confirmar contraseña" />
                    <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <p class="small fst-italic mb-4">
                    En caso de necesitar el cambio de email o Apellido y Nombre, enviar solicitud a
                    <a href="mailto:asistencia@rbasrl.com.ar">asistencia@rbasrl.com.ar</a>.
                </p>

                <div class="d-flex gap-2 mt-4">
                    <button type="submit" class="btn btn-warning btn-lg">Cambiar</button>
                    <a class="btn btn-lg btn-secondary" href="@Model.ReturnUrl">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
